.Navbar-main {
    /* display: flex; */
    width: 95%;
    height: 75px;
    margin: auto;
    text-align: center;
  
  }
  .resize{
    display: flex;
    margin: auto;
    width: 95%;
  }
  
  .positionImage{
    width: 300px;
    height: 300px;
    display: flex;    
  }
  .Cal-container{
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    height: 600px;
    margin: auto;
    border-top: 2px solid black;
  }
  .Cal-container div{
    width: 300px;
    height: 300px;
  }
  .Cal-container img{
    display: flex;
    align-self: center;
    width: 300px;
    height: 300px;
    margin-top: 20px;
  }
  .Hol-container{
    display: flex;
    justify-content: flex-start;
    width: 95%;
    height: 600px;
    margin: auto;
    border-top: 2px solid black;
    
  }
  
  .Hol-container div{
    width: 250px;
    height: 300px;
    padding-right: 20px;
  }
  .Hol-container img{
    display: flex;
    margin-top: 20px;
    width: 288px;
    height: 288px;
  }
  .Cus-container{
    display: flex;
    justify-content: flex-start;
    width: 95%;
    height: 600px;
    margin: auto;
    border-top: 2px solid black;
    justify-content: space-around;
  }
  .Cus-container div{
    width: 250px;
    height: 300px;
    padding-right: 20px;
    
  }
  .Cus-container img{
    margin-top: 20px;
    display: flex;
    
    width: 600px;
    height: 300px;
  }
  .mail-container{
    display: flex;
    
    width: 95%;
    
    margin: auto;
    border-top: 2px solid black;
  }
  
  
  .Main-item  {
    display: flex;
    height: 75px;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    border-left: 1px solid black;
    border-right: 1px solid black;    
  }
  .Main-item:hover{
    transition: background-color 1s ease;    
    background-color: blue;
    color: white;
  }
  
  .menu {  
    display: flex;
    
  }
  .menu-class-active{
    display: flex;
    height: 75px;
    padding-right: 20px;
    padding-left: 20px;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  .form-container{
    // display: flex;
    width: 400px;
    height: 300px;
    margin: auto;
    text-align: center;
    background-color: burlywood;
  }
  .button{
    width: 75px;
    height: 10px;
    background-color: #efefef;
    border: 1px solid black;
    border-radius: 2px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-top: 115px;
  }
  .border-line{
    width: 95%;
    margin: auto;
    border-top: 2px solid black
  }
  .logoStyle{
    padding-bottom: 20px;
    padding-left: 18px;
  }